body{
  background-color: black;
}
h1{
  color: white;
}

.animated {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.logo{
  background-image: url("../website/images/logo.svg");
  background-size: cover;
  height: 50px !important;
  width: 3%;
}

#line-1 {
  overflow: hidden; /* Hide overflow text */
  border-right: 1px solid black; /* Add a border to simulate typing cursor */
  white-space: nowrap; /* Prevent text from wrapping */
  font-size: 24px;
  margin: 0;
  display: inline-block;
}

/* Add a blinking cursor animation */
@keyframes blink {
  50% {
      border-color: transparent;
  }
}
#typing-text::after {
  content: "";
  display: inline-block;
  width: 0.1em; /* Adjust the width of the cursor */
  animation: blink 1s infinite;
}

.bg-girl-image{
  background-image: url("../website/images/memoji-beautiful-girl-woman-white-background-emoji_826801-6867-PhotoRoom.png-PhotoRoom.png");
  background-size: cover;
  height: 550px !important;
  width: 30%;
  position: absolute;
  left: 60%;
}

.container{
    position: absolute;
    top: 20%;
    left: 15%;
}

.about{
  color: white;
  padding-top: 35%;
  padding-left: 15%;
  font-size: xx-large;
}
.about-p{
  color: white;
  padding-right: 15%;
  padding-left: 15%;
}
.tech-container{
  padding-top: 5%;
  padding-left: 15%;
}
.html-cont{
  margin-top: 15%;
  margin-left: 5%;
  padding: 4%;
  width: 15%;
}
.css-cont{
  margin-top: -10.7%;
  margin-left: 30%;
  padding: 4%;
  width: 15%;
}
.js-cont{
  margin-top: -10.7%;
  margin-left: 54%;
  padding: 4%;
  width: 15%;
}
.react-cont{
  margin-top: -10.7%;
  margin-left: 78%;
  padding: 4%;
  width: 15%;
}
.html-text{
  margin-left: 20%;
}
.css-text{
  margin-left: 25%;
}
.js-text{
  margin-left: 35%;
}
/* .html-img{
  background-image: url("../website/images/html-img.jpg");
  background-size: cover;
  height: 550px !important;
  width: 30%;
  position: absolute;
  left: 60%;
} */
.frontend-developer-badge1 {
  max-width: 200px;
  /* background-color: #f5f5f5; */
  border: 1px solid white;
  border-radius: 4px;
  text-align: center;
}
.frontend-developer-badge2{
  max-width: 200px;
  /* background-color: #f5f5f5; */
  border: 11px solid white;
  border-radius: 4px;
  text-align: center;
  margin-left: 25%;
}

.frontend-developer-badge3{
  max-width: 200px;
  /* background-color: #f5f5f5; */
  border: 11px solid white;
  border-radius: 4px;
  text-align: center;
  margin-left: 25%;
}

.frontend-developer-badge4{
  max-width: 200px;
  /* background-color: #f5f5f5; */
  border: 11px solid white;
  border-radius: 4px;
  text-align: center;
  margin-left: 25%;
}

.frontend-developer-badge1 .card-img-top {
  padding: 10px;
}

.frontend-developer-badge1 .card-title {
  color: #333;
  font-weight: bold;
}

.html-bedge{
  margin-bottom: -18.5%;
}

.js-bedge{
  margin-left: 48%;
  margin-top: -17.5%;
}

.react-bedge{
  margin-left: 75%;
  margin-top: -18%;
}